venv
*.pyc
core
.idea/
.DS_Store
*.swp
*.tmp
__pycache__
rascsi-*.tar.gz

src/web/current
src/oled_monitor/current

src/buildroot/build
src/buildroot/host
src/buildroot/images
src/buildroot/staging
src/buildroot/target
src/buildroot/Makefile
src/buildroot/.br2*

src/raspberrypi/hfdisk/
